.container {
    display: flex;
    flex-direction: column;
    width: 1440px;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-inline: var(--padding-default);
}

.column {
    display: flex;
    flex-direction: column;
}

.button {
    padding: 7px 12px;
    border-radius: 4px;
    background-color: var(--color-backgroud);
    @include text-description;
    font-size: 12px;
    font-weight: 700;
    color: var(--color-white);
}

.button--green {
    background-color: var(--color-green);
}