/*

keyframes - scss файл с анимациями, созданными директивой keyframes

*/

@keyframes headerLinkUnderlineShow {
    from {
        opacity: 0.4;
        left: -400px;
    }

    to {
        opacity: 1;
        left: 0px;
    }
}