/*

mixins - scss файл с миксинами - повторяющимися участками кода, которые можно вставлять в разные селекторы (шрифты, стили для кнопок, логотипов и т.д.)

*/

/* миксин для текста со шрифтом poppins */
@mixin text-poppins($max, $min, $lh, $color) {
    font-family: var(--font-family-poppins);
    font-size: clamp(#{$max}px, #{$max / 1440 * 100}vw, #{$min}px);
    line-height: #{$lh};
    color: #{$color};
}

/* миксин для текста со шрифтом spaceage */
@mixin text-spaceage($max, $min, $lh, $color) {
    font-family: var(--font-family-spaceage);
    font-size: clamp(#{$max}px, #{$max / 1440 * 100}vw, #{$min}px);
    line-height: #{$lh};
    color: #{$color};
}

@mixin title-h1($color) {
    font-family: var(--font-family-spaceage);
    font-size: clamp(60px, #{calc(60 / 1440) * 100}vw, 40px);
    line-height: 100%;
    color: #{$color};
}

@mixin title-h2($color) {
    font-family: var(--font-family-spaceage);
    font-size: clamp(42px, #{calc(42 / 1440) * 100}vw, 32px);
    line-height: 100%;
    color: #{$color};
}