/*

главный scss файл, куда подключаются остальные общие файлы и файлы со стилями
этот файл превращается в css файл

автор проекта - dmfshove
https://github.com/RusikHunter
https://www.instagram.com/dmfshove/
telegram: dmfshove

powered by: github pages

*/

/* подключение глобальных файлов */

@import "normalize.scss",
"fonts.scss",
"keyframes.scss",
"globals.scss",
"mixins.scss",
"utils.scss",
"variables.scss",
"media.scss";

/* подключение файлов со стилями для блоков */

/* globals - стили для секций, которые используются на нескольких страницах */

@import "blocks/globals/header",
"blocks/globals/registration",
"blocks/globals/footer",
"blocks/globals/cart";

/* homepage - стили для секций страницы homepage */

@import "blocks/homepage/dream",
"blocks/homepage/features",
"blocks/homepage/design",
"blocks/homepage/mission",
"blocks/homepage/watches",
"blocks/homepage/about";

/* products - стили для секций страницы products */

@import "blocks/products/products",
"blocks/products/list",
"blocks/products/item";

/* contact us - стили для секций страницы contact us */

@import "blocks/contactus/contactus";

/* delivery - стили для секций страницы delivery */

@import "blocks/delivery/delivery",
"blocks/delivery/answer";

/* custome - стили для секций страницы custome */

@import "blocks/custome/custome",
"blocks/custome/conditions";

/* error404 - стили для сексий страницы error404 */

@import "blocks/error404/error";

/* checkout - стили для сексий страницы checkout */

@import "blocks/checkout/checkout",
"blocks/checkout/buy";