/* 

utils - scss файл с утилитарными классами, которые встречаются в проекте постоянно в одних и тех же вариантах (контейнеры, кнопки, инпуты)

*/

@import "media.scss";

/* container */

.container {
    display: flex;
    flex-direction: column;
    max-width: var(--container-width);
    margin-inline: auto;
}

/* row */
.row {
    display: flex;
    width: 100%;
}

/* column */

.column {
    display: flex;
    flex-direction: column;
}

/* все модальные окна */
.modal-window {
    position: absolute;
    top: 0;
    left: 0;
}

/* стандартная фиолетовая кнопка */
.button {
    cursor: pointer;
    background: var(--color-violet);
    padding-block: 22px;
    border: none;
    border-radius: var(--border-radius);
    /* цвет текста кнопки */
    @include text-poppins(14, 14, 86%, var(--color-white));
}

/* та же кнопка, но черная */
.button--black {
    cursor: pointer;
    background: var(--transparent);
    padding-block: 22px;
    border: var(--border-black);
    border-radius: var(--border-radius);
    /* цвет текста кнопки */
    @include text-poppins(14, 14, 86%, var(--color-black));

    &:hover {
        background: var(--color-black);
        color: var(--color-white);
    }
}

/* та же кнопка, но фиолетовая */
.button--violet {
    cursor: pointer;
    background: var(--transparent);
    padding-block: 22px;
    border: var(--border-violet);
    border-radius: var(--border-radius);
    /* цвет текста кнопки */
    @include text-poppins(14, 14, 86%, var(--color-violet));

    &:hover {
        background: var(--color-violet);
        color: var(--color-white);
    }
}

/* стандартное поле ввода */
.input {
    background: var(--color-white);
    border: var(--border-gray);
    border-radius: var(--border-radius);
    @include text-poppins(14, 14, 50%, var(--color-gray));

    /* текст для плейсхолдера */
    &::placeholder {
        @include text-poppins(14, 14, 50%, var(--color-gray));
    }
}

/* то же поле ввода, только без рамки */
.input--without-border {
    border: 0;
}

/* радиокнопка для переключения между страницами */
.select-button {
    margin-right: 2px;
    cursor: pointer;
    position: relative;
    /* временно, паддинги задавать вручную */
    padding: 6px 10px;
    border-radius: var(--border-radius);
    background: var(--color-lightgray);

    /* текст внутри кнопок */
    @include text-poppins(10, 10, 100%, var(--color-gray));
}

/* стиль для кнопки с type checkbox */
.checkbox-button--white {
    color: var(--color-white);
    background: var(--color-gray-alt);
}

/* выделенный label с input type radio */
input[type="radio"]:checked+label.select-button {
    background: var(--color-violet);
    color: var(--color-white);
}

/* выделенный label с input type ckechbox */
input[type="checkbox"]:checked+label.select-button {
    background: var(--color-violet);
    color: var(--color-white);
}

/* видимый при ширине до 921px */

.tablet-visible {
    display: none;

    @include tablet-small {
        & {
            display: block;
        }
    }
}

/* видимый при ширине до 769px */

.mobile-visible {
    display: none;

    @include mobile {
        & {
            display: block;
        }
    }
}

/* выпадающий список Sort By */

.dropdown {
    position: absolute;
    right: 0;
    width: 160px;
    background: var(--color-white);
    border: var(--border-gray);
    border-radius: var(--border-radius);
    padding-block: 20px;
    display: flex;
    flex-direction: column;

    &__wrap {
        display: flex;
        padding-inline: 18px;

        &:hover {
            cursor: pointer;
        }
    }

    &__title {
        @include text-poppins(14, 14, 100%, var(--color-gray));
        font-weight: 400;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    &__button {
        cursor: pointer;
        margin-right: 17px;
    }

    &__decoration {
        display: none;
        border: var(--border-gray);
        margin-block: 16px;
        margin-inline: 12px 28px;
    }

    &__form {
        display: none;
        flex-direction: column;
        row-gap: 15px;
        padding-inline: 19px;
    }

    &__label {
        @include text-poppins(14, 14, 100%, var(--color-gray));
        cursor: pointer;
    }

    input[type="radio"]:checked+label.dropdown__label {
        color: var(--color-black);
    }
}

/* выпадающий список Country */

.country {
    position: absolute;
    left: 23%;
    width: 445px;
    background: var(--color-white);
    border: var(--border-gray);
    border-radius: var(--border-radius);
    padding-block: 20px;
    display: flex;
    flex-direction: column;

    &__wrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-inline: 18px;

        &:hover {
            cursor: pointer;
        }
    }

    &__title {
        @include text-poppins(14, 14, 100%, var(--color-gray));
        font-weight: 400;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    &__button {
        margin-right: 0;
        cursor: pointer;
    }

    &__form {
        height: 180px;
        display: none;
        padding-left: 11px;
        margin-right: 19px;
        flex-direction: column;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 10px;
        }
    }

    &__decoration {
        display: none;
        border-top: var(--border-gray);
        margin-block: 16px;
        margin-inline: 20px;
    }

    &__label {
        @include text-poppins(14, 14, 100%, var(--color-gray));
        cursor: pointer;
        padding-block: 7px;
        padding-left: 8px;
    }

    input[type="radio"]:checked+label.country__label {
        background: rgba(236, 237, 241, 0.5);
    }
}