.item {

    &__row {
        padding-top: 67px;
        padding-inline: var(--padding-inline-default);
        column-gap: 30px;
    }

    &__column--first {
        justify-content: space-between;
        flex: 1;
        display: flex;
        flex-flow: row wrap;
        row-gap: 28px;
    }

    &__slider {
        display: none;
    }

    &__column--second {
        width: 350px;
    }

    &__watch-info {
        padding-bottom: 34px;
        border-bottom: var(--border-gray);
    }

    &__title {
        @include text-poppins(30, 26, 100%, var(--color-black));
    }

    &__model {
        @include text-poppins(14, 14, 100%, var(--color-gray));
        margin-block: 10px 17px;
    }

    &__description {
        @include text-poppins(12, 12, 217%, var(--color-gray));
        width: 100%;
    }

    &__list {
        display: flex;
        flex-direction: column;
        padding-block: 25px 40px;
        row-gap: 20px;
        border-bottom: var(--border-gray);
    }

    &__list-item {
        display: flex;
        justify-content: space-between;
    }

    &__list-title {
        @include text-poppins(10, 10, 100%, var(--color-gray));
    }

    &__list-details {
        @include text-poppins(10, 10, 100%, var(--color-gray));
    }

    &__order-wrap {
        display: flex;
        margin-top: 22px;
        align-items: center;
    }

    &__button {
        width: 100%;
        margin-top: 22px;
    }

    &__button--small {
        width: 208px !important;
        margin-top: 0;
    }

    &__button--decoration {
        padding-left: 40px;
        background-image: url(../images/products/item/decoration.svg);
        background-repeat: no-repeat;
        background-position: 27% center;

        &:hover {
            background-image: url(../images/products/item/decoration-hover.svg);
            background-repeat: no-repeat;
            background-position: 27% center;
        }
    }

    &__price {
        @include text-poppins(20, 20, 100%, var(--color-black));
        margin-left: 40px;
    }

    @include tablet {
        &__row {
            padding-inline: 48px;
        }

        &__image {
            width: 48%;
            height: auto;
        }
    }

    @include tablet-small {
        &__column--first {
            height: 818px;
            overflow: scroll;
        }

        &__image {
            width: 100%;
        }
    }

    @include mobile {
        &__row {
            flex-direction: column;
            padding-inline: 40px;
            padding-top: 40px;
        }

        &__image {
            display: none;
        }

        &__slider {
            width: 100%;
            display: block;
        }

        &__image--slider {
            width: 80%;
            height: auto;
            margin-inline: auto;
        }

        &__arrow-wrap {
            display: flex;
            width: 230px;
            margin-inline: auto;
            justify-content: space-between;
            margin-block: 30px;
        }

        &__column--second {
            margin-inline: auto;
        }

        &__title,
        &__model,
        &__description {
            text-align: center;
        }

        &__watch-info {
            border: none;
            padding-bottom: 0;
        }

        &__list {
            order: 9;
            border: none;
        }
    }

    @include mobile-small {
        &__row {
            padding-top: 25px;
        }

        &__image--slider {
            width: 100%;
        }

        &__arrow-wrap {
            margin-block: 20px;
        }

        &__column--second {
            width: 100%;
        }

        &__price {
            margin-left: 20px;
        }

        &__list-title,
        &__list-details {
            font-size: 8px;
        }

        &__button--decoration {
            background-position: 15% center;

            &:hover {
                background-position: 15% center;
            }
        }
    }
}