.header {

    &__row {
        padding-block: 20px;
        align-items: center;
    }

    &__column--first {
        margin-right: 24px;
    }

    &__link--wrap {
        cursor: pointer;
    }

    &__ul {
        display: flex;
    }

    &__list-item {
        margin-inline: 24px 5px;
    }

    &__list-item--with-button {
        margin-left: 20px;
        padding-right: 32px;
        cursor: pointer;
    }

    &__link {
        @include text-description;
    }

    &__link--with-button {
        position: relative;
        @include text-description;

        &::after {
            content: "";
            position: absolute;
            width: 10px;
            height: 7px;
            background-image: url(../img/header/arrow.svg);
            top: 6px;
            right: -20px;
            cursor: pointer;
        }
    }

    &__column--third {
        margin-left: auto;
        flex-direction: row;
        column-gap: 7px;
    }

    &__button {
        cursor: pointer;
    }
}