@mixin spacebetween {
    display: flex;
    justify-content: space-between;
}

@mixin container {
    display: flex;
    max-width: 1200px;
    margin-inline: auto;
}

@mixin button {
    cursor: pointer;
    height: 40px;
    background-color: var(--color);
    border-radius: 50px;
    padding-top: 11px;
    padding-bottom: 11px;
}

@mixin textDescriptionRegular ($fz) {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: #{$fz};
    line-height: 108%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
}