@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
:where(ul, ol) {
  padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
   Убираем внешние отступы
  */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

/**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
   Упрощаем работу с изображениями
  */
img {
  display: block;
  max-width: 100%;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  height: 100%;
  /**
   Плавный скролл
  */
  scroll-behavior: smooth;
}

body {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  min-height: 100%;
  /**
   Унифицированный интерлиньяж
  */
  line-height: 1.5;
}

a {
  /** 
      Убираем подчеркивания для всех гиперссылок
  */
  text-decoration: none;
}

button {
  /** 
      Убираем все дефолтные стили у кнопки
  */
  border: none;
  outline: none;
}

li {
  /* убираем все декорации для элементов списков */
  list-style: none;
}

blockquote {
  /* убираем все отступы для цитат */
  margin: 0;
}

/**
   Приводим к единому цвету svg-элементы
  */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  transition-property: fill, stroke;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --font-family: "Outfit", sans-serif;
  --color: #222;
}

.container {
  display: flex;
  max-width: 1200px;
  margin-inline: auto;
}

.column {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.button {
  cursor: pointer;
  height: 40px;
  background-color: var(--color);
  padding-top: 11px;
  padding-bottom: 11px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13pxpx;
  line-height: 108%;
  letter-spacing: 0.04em;
  color: var(--color);
  margin: 0;
  /* вставка миксина со стилями для обычного текста 400regular с fz 13px */
}

@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.header__container {
  justify-content: space-between;
  padding: 19px 28px;
  align-items: center;
}
.header__column {
  align-items: center;
}
.header__column--first {
  width: 400px;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  width: 94px;
  height: 31px;
}
.header__nav {
  width: 256px;
  display: flex;
  justify-content: space-between;
}
.header__nav ul {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.header__nav ul li {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 108%;
  letter-spacing: 0.04em;
  color: var(--color);
  margin: 0;
  text-align: center;
  /* вставка миксина со стилями для обычного текста 400regular с fz 15px */
}
.header__nav ul li a {
  color: var(--color);
}
.header__column--second {
  width: 282px;
  display: flex;
  justify-content: space-between;
}
.header__social-networks {
  width: 90px;
  display: flex;
  justify-content: space-between;
}
.header__social-networks ul {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.header__social-networks ul li {
  align-items: center;
}
.header__social-networks ul li a svg {
  margin-top: 7px;
  color: var(--color);
}
.header__button {
  padding-inline: 17px;
  color: #fff;
  text-align: center;
  border-radius: 50px;
}

.experience__container {
  padding-top: 15px;
  max-height: 755px;
}
.experience__column--first {
  padding-top: 180px;
}
.experience__column--first pre {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  line-height: 108%;
  letter-spacing: 0.04em;
  color: var(--color);
  margin: 0;
  color: #82cbac;
  max-width: 145px;
  text-align: left;
}
.experience__column--first h1 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 64px;
  line-height: 108%;
  letter-spacing: 0.04em;
  color: var(--color);
  margin: 0;
  max-width: 600px;
  margin-bottom: 15px;
}
.experience__column--first p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 108%;
  letter-spacing: 0.04em;
  color: var(--color);
  margin: 0;
  line-height: 153%;
  max-width: 420px;
}
.experience__column--second {
  padding-top: 70px;
  padding-left: 21px;
}
.experience__image {
  user-select: none;
  pointer-events: none;
}
.experience__image--boy {
  width: 325px;
  height: 325px;
}
.experience__image--girl {
  width: 410px;
  height: 410px;
  position: relative;
  top: -22.5%;
  right: -169px;
}
.experience__peoplebox {
  display: flex;
  align-items: center;
  box-shadow: 0 -4px 19px 0 rgba(0, 0, 0, 0.03);
  background: rgba(255, 255, 255, 0.85);
  border-radius: 30px;
  position: relative;
}
.experience__peoplebox--first {
  width: 90px;
  height: 33px;
  top: -107%;
  right: 20px;
}
.experience__peoplebox--first img {
  width: 24px;
  height: 24px;
}
.experience__peoplebox--first .experience__textbox {
  width: 53px;
  height: 22px;
  margin-left: 5px;
  margin-top: 3px;
}
.experience__peoplebox--first h6 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 10px;
  line-height: 108%;
  letter-spacing: 0.04em;
  color: var(--color);
  margin: 0;
}
.experience__peoplebox--first p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 8px;
  line-height: 108%;
  letter-spacing: 0.04em;
  color: var(--color);
  margin: 0;
}
.experience__peoplebox--second {
  width: 145px;
  height: 55px;
  top: -35%;
  right: -100px;
}
.experience__peoplebox--second img {
  width: 41px;
  height: 41px;
}
.experience__peoplebox--second .experience__textbox {
  width: 82px;
  height: 39px;
  margin-top: 8px;
  margin-left: 10px;
}
.experience__peoplebox--second h6 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 108%;
  letter-spacing: 0.04em;
  color: var(--color);
  margin: 0;
}
.experience__peoplebox--second p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 10px;
  line-height: 108%;
  letter-spacing: 0.04em;
  color: var(--color);
  margin: 0;
}

swiper-slide {
  width: 152px !important;
}

.hey__container {
  flex-direction: column;
  padding: 128px 0 32px 0;
}
.hey__container h1 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 64px;
  line-height: 108%;
  letter-spacing: 0.04em;
  color: var(--color);
  margin: 0;
  text-align: center;
  margin-bottom: 25px;
}
.hey__container p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 108%;
  letter-spacing: 0.04em;
  color: var(--color);
  margin: 0;
  line-height: 150%;
  text-align: center;
  max-width: 610px;
  margin: 0 auto;
}

.person__container {
  flex-direction: column;
  padding-inline: 48px;
}
.person__row {
  display: flex;
}
.person__row--first ul {
  display: flex;
  width: 552px;
  justify-content: space-between;
  padding: 0;
}
.person__row--first input[type=radio] {
  position: absolute;
  visibility: hidden;
}
.person__row--first input[type=radio][type=radio]:checked + label {
  background: var(--color);
  color: #fff;
}
.person__row--first label {
  display: flex;
  width: 179px;
  height: 50px;
  background: none;
  border: 1px solid var(--color);
  border-radius: 30px;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 108%;
  letter-spacing: 0.04em;
  color: var(--color);
  margin: 0;
  padding: 11px 65px 0 65px;
}
.person__row--first label:hover {
  background: var(--color);
  color: #fff;
}
.person__column--first img {
  width: 552px;
  height: 395px;
}
.person__column--second {
  padding: 47px 0 15px 0;
}
.person__column--second p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 108%;
  letter-spacing: 0.04em;
  color: var(--color);
  margin: 0;
  max-width: 500px;
}
.person__column--second span {
  font-size: 16px;
  color: #ff7f96;
  max-width: 96px;
}
.person__column--second h2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 35px;
  line-height: 108%;
  letter-spacing: 0.04em;
  color: var(--color);
  margin: 0;
  margin: 16px 0 16px 0;
  max-width: 342px;
}

.about__container {
  padding: 146px 0 84px 0;
}
.about__column--first img {
  width: 585px;
  height: 450px;
}
.about__column--second {
  padding: 57px 0 0 48px;
}
.about__column--second h2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 35px;
  line-height: 108%;
  letter-spacing: 0.04em;
  color: var(--color);
  margin: 0;
  letter-spacing: 0.01em;
}
.about__column--second blockquote {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 48px;
  line-height: 108%;
  letter-spacing: 0.04em;
  color: var(--color);
  margin: 0;
  letter-spacing: 0.01em;
  margin-top: 2px;
  margin-bottom: 38px;
}
.about__column--second p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 108%;
  letter-spacing: 0.04em;
  color: var(--color);
  margin: 0;
  margin-bottom: 32px;
}
.about__buttonbox {
  display: flex;
  justify-content: right;
}
.about__button {
  padding-inline: 40px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 15px;
  line-height: 108%;
  letter-spacing: 0.04em;
  color: var(--color);
  margin: 0;
  color: #fff;
}

.advantages__container {
  padding-bottom: 204px;
}
.advantages__column--first {
  flex-direction: column;
  padding: 64px 64px 32px 64px;
}
.advantages__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
}
.advantages__item h5 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 35px;
  line-height: 108%;
  letter-spacing: 0.04em;
  color: var(--color);
  margin: 0;
  margin-top: 5px;
}
.advantages__item p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 108%;
  letter-spacing: 0.04em;
  color: var(--color);
  margin: 0;
  margin-top: 13px;
}
.advantages__number {
  border-radius: 30px;
  width: 57px;
  height: 35px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 108%;
  letter-spacing: 0.04em;
  color: var(--color);
  margin: 0;
}
.advantages__number p {
  margin-top: 6px;
  text-align: center;
  color: #fff;
}
.advantages #advantagesFirst {
  background: #82cbac;
}
.advantages #advantagesSecond {
  background: #ff7f96;
}
.advantages #advantagesThird {
  background: #ead71b;
}
.advantages__column--second {
  flex-direction: row;
  justify-content: right;
}
.advantages__column--second img {
  width: 552px;
  height: 596px;
}

.view {
  background: #82cbac;
}
.view__container {
  flex-direction: column;
  padding: 71px 0 80px 0;
}
.view__container h1 {
  max-width: 660px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 64px;
  line-height: 108%;
  letter-spacing: 0.04em;
  color: var(--color);
  margin: 0;
  margin-bottom: 33px;
  letter-spacing: 0.01em;
}
.view__container p {
  max-width: 560px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 108%;
  letter-spacing: 0.04em;
  color: var(--color);
  margin: 0;
  margin-bottom: 48px;
  letter-spacing: 0.02em;
}
.view__button {
  width: 207px;
  color: #fff;
}

.collection__container {
  flex-direction: column;
  padding-top: 101px;
}
.collection__container h1 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 64px;
  line-height: 108%;
  letter-spacing: 0.04em;
  color: var(--color);
  margin: 0;
  text-align: center;
}
.collection__nftbox {
  margin-top: 56px;
  display: flex;
  justify-content: space-between;
}
.collection__nft {
  width: 358px;
}
.collection__nft h6 {
  padding: 30px 50px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 26px;
  line-height: 108%;
  letter-spacing: 0.04em;
  color: var(--color);
  margin: 0;
}
.collection__button {
  margin-top: 64px;
  margin-inline: auto;
  padding-inline: 44px;
  color: #fff;
}

.faq__container {
  padding: 55px 64px;
  flex-direction: column;
}
.faq__container h2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 64px;
  line-height: 108%;
  letter-spacing: 0.04em;
  color: var(--color);
  margin: 0;
  margin-bottom: 25px;
}
.faq__information {
  margin-top: 25px;
  padding: 23px 26px;
  display: flex;
  flex-direction: column;
}
.faq__information .faq__title {
  display: flex;
  justify-content: space-between;
}
.faq__information h6 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 108%;
  letter-spacing: 0.04em;
  color: var(--color);
  margin: 0;
}
.faq__information input[type=checkbox] {
  position: absolute;
  visibility: hidden;
}
.faq__information input[type=checkbox][type=checkbox]:checked + label svg {
  color: #5f9e82;
}
.faq__information svg {
  color: #71ac92;
  cursor: pointer;
}
.faq__information .faq__description {
  display: none;
  border-radius: 15px;
  margin-top: 10px;
  padding: 15px;
  background-color: #f2f2f2;
}
.faq__information .faq__description p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 108%;
  letter-spacing: 0.04em;
  color: var(--color);
  margin: 0;
  max-width: 700px;
}

/*# sourceMappingURL=styles.css.map */