.error {
    &__row {
        flex-direction: column;
        padding-top: 93px;
    }

    &__title,
    &__image,
    &__link {
        display: block;
        margin-inline: auto;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__title {
        text-align: center;
        @include text-spaceage(42, 28, 86%, var(--color-black));
        max-width: 510px;
    }

    &__image {
        margin-block: 24px 50px;
    }

    &__button {
        width: 208px;
    }

    @include tablet {
        &__row {
            padding-inline: 48px;
        }

        &__content {
            height: 440px;
        }

        &__title {
            max-width: 440px;
        }
    }
}