.header {

    &__container {
        justify-content: space-between;
        padding: 19px 28px;
        align-items: center;
        position: relative;
    }

    &__column {
        align-items: center;
    }

    &__column--first {
        width: 400px;
        @include spacebetween;
    }

    &__logo {
        width: 94px;
        height: 31px;
    }

    &__nav {
        width: 256px;
        @include spacebetween;

        & ul {
            width: 100%;
            padding: 0;
            @include spacebetween;

            & li {
                @include textRegular (15);
                text-align: center;
                /* вставка миксина со стилями для обычного текста 400regular с fz 15px */

                & a {
                    color: var(--color);
                }
            }
        }
    }

    &__column--second {
        width: 282px;
        @include spacebetween
    }

    &__button {
        padding-inline: 17px;
        color: #fff;
        text-align: center;
        border-radius: 50px;
    }

    &__burger {
        display: none;
        background: none;
        position: absolute;
        right: 20px;

        & svg {
            color: var(--color);
        }
    }
}