.links {

    &__container {
        padding-top: 96px;
        padding-bottom: 115px;
    }

    &__column {
        display: flex;
        flex-direction: column;
    }

    &__column--first {
        width: 350px;
        padding-top: 10px;
        padding-left: 64px;

        & img {
            width: 138px;
            height: 50px;
        }

        & h6 {
            @include textRegular(20);
            margin-top: 45px;
        }

        & ul {
            margin-top: 12px;
        }
    }

    &__column--second {
        width: 151px;
    }

    &__column--third {
        width: 186px;
    }

    &__column--second,
    &__column--third {
        padding-top: 10px;

        & h6 {
            @include textRegular(20);
        }

        & ul {
            margin-top: 17px;

            & li {
                & a {
                    @include textRegular(15);
                }
            }
        }
    }

    &__column--fourth {
        padding-left: 30px;
        justify-content: right;

        & h2 {
            @include textRegular(35);
        }

        & p {
            @include textRegular(18);
            margin-top: 20px;
            max-width: 440px;
        }

        & form {
            margin-top: 16px;

            & input {
                outline: none;
                border: none;
                width: 327px;
                background: #f6f6f6;
                padding: 12px 32px;
                border-radius: 30px;
                @include textRegular(14);
                color: rgba(47, 47, 47, 0.36);

                &::placeholder {
                    @include textRegular(14);
                    color: rgba(47, 47, 47, 0.36);
                }
            }
        }
    }

    &__button {
        margin-left: 5px;
        padding-inline: 15px;
        border-radius: 30px;
        color: #fff;
    }
}