:root {
    --font-family: "Inter", Arial, sans-serif;
    --white: #F6F7F7;
    --black: #06071B;
    --gradient: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.container {
    display: flex;
    max-width: 1280px;
    margin: auto;
}

/* todo -> .logo */

.button {
    display: block;
    width: 200px;
    height: 42px;
    background: var(--gradient);
    border-radius: 7px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    color: var(--white);
}

.button:hover {
    cursor: pointer;
}

.header {
    background: var(--black);
    display: flex;
}

.header__line {
    display: flex;
    margin-top: 26px;
    width: 100%;
    height: 72px;
    backdrop-filter: blur(35px);
    background: linear-gradient(99deg, rgba(0, 197, 235, 0.3) 0%, rgba(181, 68, 254, 0.3) 100%);
}

.header__container {
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
}

.header__logo h1 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 28px;
    color: #fff;
    margin-left: 16px;
    margin-top: 15px;
    transition: transform 1s;
}

.header__logo h1:hover {
    transform: scale(1.02);
}

.header__navigation {
    display: flex;
    width: 437px;
    margin-right: 16px;
}

.header__list {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.header__list-item {
    transition: transform 1s;
}

.header__link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    color: var(--white);
}

.header__list-item:hover {
    transform: scale(1.05);
}

.header__burger {
    position: absolute;
    display: none;
    right: 15px;
    top: 20px;
    background: none;
    color: #fff;
}

.burger {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.burger__container {
    background: var(--black);
    flex-direction: column;
    max-width: 768px;
    position: relative;
}

.burger__logo h1 {
    font-family: var(--font-family);
    color: #fff;
    font-size: 28px;
    font-weight: 400;
    margin: 34px 0 0 20px;
}

.burger__container ul {
    margin: 52px auto 100% auto;
    width: 80%;
}

.burger__container li {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    margin-bottom: 36px;
}

.burger__container li a {
    color: #fff;
}

.burger__cross {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 34px;
    left: calc(100% - 72px);
    color: #fff;
    background: none;
}

.burger__cross svg {
    width: 64px;
    height: 32px;
}

.introduction {
    background: var(--black);
}

.introduction__container {
    justify-content: space-between;
    max-width: 1280px;
    max-height: 586px;
}

.introduction__textbox {
    display: flex;
    flex-direction: column;
}

.introduction__title {
    z-index: 2;
    margin-top: 145px;
    width: 442px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 40px;
    color: #fff;
}

.introduction__description {
    z-index: 2;
    margin-top: 5px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

/** todo
.introduction__description--light {
    text-shadow: 0px 0px 130px rgba(255, 255, 255, 0.8);
}
*/

.introduction__list {
    margin-top: 12px;
}

.introduction__list-item {
    margin-top: 5px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    background-image: url(../img/icons/list-image.svg);
    background-repeat: no-repeat;
    background-position: center left;
    padding-top: 1px;
    padding-left: 20px;
}

.introduction__list-item::marker {
    position: absolute;
    top: 5px;
}

.introduction__button {
    margin-top: 62px;
    transition: transform 1s;
}

.introduction__button:hover {
    transform: scale(1.05);
}

.introduction__imagebox {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.introduction__background-image {
    user-select: none;
    pointer-events: none;
}

.introduction__background-image--tools {
    width: 541px;
    height: 418px;
    position: relative;
    top: 129px;
    right: 115px;
}

.introduction__background-image--phone {
    width: 600px;
    height: 702px;
    position: relative;
    right: 290px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.modal::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.modal__window {
    position: absolute;
    z-index: 4;
    overflow: scroll;
    width: 568px;
    height: 800px;
    border-radius: 15px;
    background: var(--black);
    top: 17px;
    left: calc(50% - calc(568px / 2));
}

.modal__window::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.modal__window h6 {
    margin: 32px 0 28px 0;
    text-align: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    text-align: center;
    color: #fff;
}

.modal__window p {
    max-width: 448px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    margin: 32px 0 32px 40px;
}

.modal__planbox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 40px;
}

.modal__plan {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 233px;
    height: 394px;
    background: var(--black);
    border-radius: 5px;
}

.modal__plan::after {
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: var(--gradient);
    border-radius: 6px;
    z-index: -1;
}

.modal__plan:hover {
    background: var(--gradient);
}

.modal__plan svg {
    color: #fff;
    margin: 28px auto 20px auto;
}

.modal__plan p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    margin: 0 auto;
}

.modal__plan ul {
    margin-top: 20px;
    margin-left: -20px;
}

.modal__plan li {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #fff;
    margin-bottom: 14px;
    list-style: none;
    background-image: url(../img/icons/list-image.svg);
    background-repeat: no-repeat;
    background-position: center left;
    padding-top: 1px;
    padding-left: 20px;
}

.modal__info {
    display: flex;
    position: relative;
    max-width: 488px;
    background: var(--black);
    border-radius: 5px;
    margin: auto;
}

.modal__data {
    display: flex;
    width: calc(50% - 1px);
    flex-direction: column;
    padding-top: 20px;
}

.modal__border {
    width: 2px;
    height: auto;
    background: var(--gradient);
}

.modal__parameter {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 20px 34px;
    grid-template-areas:
        "i a"
        "i b"
    ;
}

.modal__parameter svg {
    width: 28px;
    height: 28px;
    grid-area: i;
    color: #fff;
    margin: 0 0 20px 20px;
}

.modal__parameter h6,
.modal__parameter p {
    margin: 0 0 0 8px;
    text-align: left;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    grid-area: a;
}

.modal__parameter p {
    color: #1ab9fd;
    grid-area: b;
}

.modal__info::after {
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: var(--gradient);
    border-radius: 6px;
    z-index: -1;
}

.modal__button {
    margin: 32px auto 32px auto;
    transition: transform 1s;
}

.modal__button:hover {
    transform: scale(1.05);
}

.modal__cross {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 20px;
    left: calc(100% - 48px);
    color: #fff;
    background: none;
    transition: color 0.5s;
}

.modal__cross:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.features__container {
    flex-direction: column;
}

.row {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    color: #000;
    margin: 100px auto 0 auto;
}

.description {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #000;
    margin: 40px auto 56px auto;
    max-width: 855px;
}

.features__row--grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 201px 201px 201px;
    grid-auto-flow: column;
    grid-template-areas: "a i d"
        "b i e"
        "c i f"
    ;
    padding: 0 100px 100px 100px;
}

.features__textbox {
    display: flex;
    flex-direction: row;
    width: 310px;
}

.features__icon {
    width: 28px;
    height: 28px;
    margin-top: 57px;
}

.features__text {
    margin-left: 8px;
}

.features__text h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #000;
    margin-top: 61px;
}

.features__text p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    color: #000;
}


.features__textbox--first {
    grid-area: a;
}

.features__textbox--second {
    grid-area: b;
}

.features__textbox--third {
    grid-area: c;
}

.features__textbox--fourth {
    grid-area: d;
}

.features__textbox--fiveth {
    grid-area: e;
}

.features__textbox--sixth {
    grid-area: f;
}

.features__image {
    grid-area: i;
}

.watch {
    background-color: var(--black);
}

.watch__container {
    flex-direction: row;
}

.watch__text {
    width: 50%;
    padding-left: 16px;
}

.watch__text h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    margin-top: 60px;
}

.watch__text p {
    max-width: 479px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 40px;
}

.watch__text svg {
    margin-right: 20px;
    width: 60px;
    height: 60px;
}

.watch__image {
    margin: 60px 0 60px 0;
}

.team__container {
    flex-direction: column;
}

.team__description {
    max-width: 886px;
}

.team__row--second {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.team__person-box {
    display: flex;
    flex-direction: column;
    width: 288px;
    height: 364px;
    border-radius: 15px;
    backdrop-filter: blur(35px);
    background: linear-gradient(318deg, rgba(0, 197, 235, 1) 0%, rgba(181, 68, 254, 1) 100%);
    padding: 12px;
    transition: transform 1s;
}

.team__person-box:hover {
    transform: scale(1.02);
}

.team__person-box h4 {
    margin: 20px 0 0 0;
    text-align: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    color: #fff;
}

.team__person-box p {
    margin: 12px 0;
    text-align: center;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: #fff;
}

.slider__container {
    flex-direction: row;
    height: 670px;
    overflow: hidden;
    position: relative;
}

.slider__content {
    display: flex;
    justify-content: center;
}

.slider__slide {
    width: 1280px;
    display: flex;
    flex-direction: column;
    transition: all 0.7s ease;
}

.slider__slide h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    color: #000;
    margin: 80px auto 0 auto;
}

.slider__slide img {
    margin: 40px auto 0 auto;
    width: 181px;
    height: 181px;
}

.slider__slide h4 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    color: #000;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
}

.slider__slide pre {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: #000;
    margin-top: 12px;
    margin-bottom: 0;
}

.slider__slide p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #000;
    width: 886px;
    margin: 40px auto 0 auto;
}

input[name="r"] {
    display: none;
}

.slider__navigation {
    position: absolute;
    margin: 64px auto 0 auto;
    display: flex;
    width: 70px;
    justify-content: space-between;
    left: calc(50% - 35px);
    bottom: 80px;
}

.slider__bar {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #939eac;
    transition: background-color 0.7s;
}

.slider__bar:hover {
    cursor: pointer;
    background-color: var(--black);
}

#r1:checked~.s1 {
    margin-left: 0;
}

#r2:checked~.s1 {
    margin-left: -33.3%;
}

#r3:checked~.s1 {
    margin-left: -66.6%;
}

#r4:checked~.s1 {
    margin-left: -99.9%;
}

#r5:checked~.s1 {
    margin-left: -133.2%;
}

#r6:checked~.s1 {
    margin-left: -166.5%;
}

.contact {
    background-color: var(--black);
    border-bottom: 1px solid #fff;
}

.contact__container {
    flex-direction: column;
}

.contact__row {
    width: 100%;
}

.contact__row h3 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    margin: 80px 0;
    text-align: center;
}

.contact__row--second {
    display: flex;
    justify-content: space-between;
}

.contact__textbox,
.contact__inputbox {
    width: 50%;
    margin: 0 16px 80px 16px;
}

.contact__textbox h5 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    margin-top: 0;
}

.contact__textbox p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    max-width: 500px;
    margin: 20px 0;
}

.contact__svg {
    width: 148px;
    display: flex;
    justify-content: space-between;
}

.contact__textbox svg {
    width: 40px;
    height: 40px;
}

.contact__link {
    display: block;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    margin: 12px 0;
}

#mailLink {
    font-size: 14px;
}

.contact__input {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.contact__inputbox input {
    border-radius: 5px;
    width: 288px;
    height: 40px;
    background-color: #fff;
    outline: none;
    transition: transform 1s;
}

.contact__inputbox input:checked {
    transform: scale(1.05);
    display: none;
}

.contact__inputbox textarea {
    border-radius: 5px;
    width: 608px;
    height: 162px;
    margin-top: 20px;
}

.contact__inputbox input,
.contact__inputbox textarea {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    color: #939eac;
    padding: 11px 8px;
}

.contact__button {
    margin-top: 10px;
    float: right;
    transition: transform 1s;
}

.contact__button:hover {
    transform: scale(1.05);
}

.footer {
    background: var(--black);
}

.footer__container p {
    margin: 21px 0 21px 16px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}

/* todo-> @media grid */

@media (max-width: 1312px) {
    .header__container {
        max-height: 62px;
    }

    .introduction__textbox {
        margin: 60px 0 0 32px;
    }

    .introduction__textbox h1 {
        margin-top: 0;
    }

    .introduction__button {
        margin-bottom: 143px;
    }

    .introduction__imagebox {
        max-width: 400px;
    }

    .introduction__background-image--tools {
        position: relative;
        width: 310px;
        height: 290px;
        top: 209px;
        right: 255px;
    }

    .introduction__background-image--phone {
        width: 410px;
        height: 466px;
        right: 350px;
        top: 120px;
    }

    .features__row {
        padding: 0 32px;
    }

    .features__row--grid {
        justify-items: center;
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: repeat(5, 160px);
        grid-auto-flow: column;
        grid-template-areas: "i a"
            "i b"
            "i c"
            "i d"
            "f e"
        ;
        padding: 0 32px 32px 32px;
    }

    .features__textbox--first,
    .features__textbox--second,
    .features__textbox--third,
    .features__textbox--fourth,
    .features__textbox--fiveth {
        position: relative;
        right: 0px;
    }

    .features__image {
        width: 467px;
        height: 592px;
        position: relative;
        left: -25%;
    }

    .features__icon,
    .features__text h1 {
        margin-top: 0;
    }

    .features__text p {
        line-height: 16px;
    }

    .watch__container {
        flex-direction: column;
    }

    .watch__text {
        padding: 0 32px;
        width: 100%;
    }

    .watch__text h2 {
        text-align: center;
        margin-top: 80px;
    }

    .watch__text p {
        max-width: 704px;
        text-align: center;
        margin: 20px auto;
    }

    .watch__svg {
        display: flex;
        justify-content: center;
    }

    #iconFacebookSecond {
        margin-right: 0;
    }

    .watch__image {
        width: 401px;
        height: 258px;
        margin: 40px auto;
    }

    .team__description {
        max-width: 704px;
    }

    .team__row--second {
        max-width: 704px;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .team__row--second a {
        margin-bottom: 20px;
    }

    .team__person-box {
        width: 336px;
    }

    .slider__container {
        justify-content: center;
    }

    .slider__slide {
        display: none;
        width: 100%;
    }

    .s1 {
        max-width: 1280px;
        display: flex;
    }

    .s1 h2,
    .s1 h4 .s1 pre,
    .s1 p {
        width: 100%;
        max-width: 704px;
    }

    .s1 h2 {
        text-align: center;
    }

    #r1:checked~.s1,
    #r2:checked~.s1,
    #r3:checked~.s1,
    #r4:checked~.s1,
    #r5:checked~.s1,
    #r6:checked~.s1 {
        margin-left: 0;
    }

    .contact__row h3 {
        margin-top: 74px;
        margin-bottom: 38px;
    }

    .contact__row--second {
        flex-direction: column-reverse;
    }

    .contact__textbox,
    .contact__inputbox {
        margin: 0 auto;
    }

    .contact__inputbox {
        width: 100%;
        padding-inline: 32px;
        display: flex;
        flex-direction: column;
    }

    .contact__input input {
        width: 48%;
    }

    .contact__inputbox textarea {
        width: 100%;
    }

    .contact__button {
        margin-inline: auto;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .contact__textbox {
        width: 100%;
        max-width: 600px;
    }

    .contact__textbox h5 {
        text-align: center;
        margin-bottom: 20px;
    }

    .contact__textbox p {
        max-width: 530px;
        text-align: center;
        margin: 0 auto 40px auto;
        padding-inline: 20px;
    }

    .contact__svg {
        margin: 0 auto 40px auto;
    }

    .contact__link {
        text-align: center;
    }

    .contact__link--second {
        display: block;
        margin-bottom: 80px;
    }
}

@media (max-width: 768px) {
    .header__navigation {
        display: none;
    }

    .header__burger {
        display: block;
    }

    .introduction__container {
        background-image: url("../img/background/background-phone.png");
        background-size: cover;
    }

    .introduction__textbox {
        margin-top: 100px;
        margin-left: 15px;
        max-width: 270px;
    }

    .introduction__title {
        font-size: 24px;
        max-width: 270px;
    }

    .introduction__description {
        font-size: 14px;
    }

    .introduction__list {
        max-width: 270px;
        font-size: 12px;
    }

    .introduction__imagebox {
        display: none;
    }

    .introduction__button {
        margin-bottom: 127px;
    }

    .features__row--grid {
        justify-items: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 450px repeat(6, 180px);
        grid-auto-flow: column;
        grid-template-areas:
            "i"
            "a"
            "b"
            "c"
            "d"
            "e"
            "f"
        ;
        padding: 0 32px 32px 32px;
    }

    .features__textbox {
        width: 250px;
    }

    .features__image {
        width: 280px;
        height: 409px;
        position: static;
        margin: 0 auto;
    }

    .watch__image {
        width: 280px;
        height: 208px;
    }

    .team__person-box {
        width: 280px;
    }

    .slider__container {
        height: 700px;
    }

    .slider__navigation {
        bottom: 50px;
    }

    .contact__row h3 {
        margin: 40px auto;
    }

    .contact__input {
        flex-direction: column;
    }

    .contact__input input {
        width: 100%;
    }

    .contact__input input#name {
        margin-bottom: 20px;
    }

    .contact__svg {
        margin: 0 auto 14px auto;
    }

    .contact__link--second {
        margin-bottom: 40px;
    }
}

@media (max-width: 375px) {
    .slider__container {
        height: 750px;
    }

    .footer__container p {
        max-width: 200px;
    }
}

@media (max-width: 355px) {
    .slider__container {
        height: 800px;
    }
}

@media (max-width: 550px) {
    .modal {
        max-width: 550px;
    }

    .modal__planbox {
        flex-direction: column;
    }

    .modal__plan {
        margin: 0 auto 20px auto;
    }

    .modal__window p {
        width: 270px;
        margin: 0 auto 27px auto;
    }

    .modal__info {
        flex-direction: column;
        max-width: 232px;
    }

    .modal__border {
        width: 100%;
        height: 2px;
    }

    .modal__cross {
        left: calc(80% - 48px);
    }
}