.container {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    max-width: 1440px;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
}

.text {
    @include text;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0.7;
}