:root {
    // colors
    --color-white: #FFFFFF;
    --color-gray: rgba(255, 255, 255, 0.7);

    // borders
    --border: 1px solid #fff;
    --border-aside: 5px solid rgba(255, 255, 255, 0.14);


    // fonts
    --font-family: "Roboto", Arial, sans-serif;
}