@charset "UTF-8";
/*

normalize - файл с нормализацией стилей для стандартных селекторов

ссылка на источник - https://github.com/aleksanderlamkov/positivus/blob/main/styles/_normalize.scss


*/
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

/**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
   Упрощаем работу с изображениями
  */
img {
  display: block;
  max-width: 100%;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  height: 100%;
  /**
   Плавный скролл
  */
  scroll-behavior: smooth;
}

body {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  min-height: 100%;
  /**
   Унифицированный интерлиньяж
  */
  line-height: 1.5;
}

/**
   Приводим к единому цвету svg-элементы
  */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
input:focus {
  outline: 0;
  caret-color: var(--color-gray);
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
input:focus::-ms-input-placeholder {
  color: transparent;
}
input:focus::placeholder {
  color: transparent;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-inline: auto;
  max-width: 1440px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text {
  font-family: var(--font-family);
  color: var(--color-white);
  font-size: 18px;
  font-weight: 400;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0.7;
}

:root {
  --color-white: #FFFFFF;
  --color-gray: rgba(255, 255, 255, 0.7);
  --border: 1px solid #fff;
  --border-aside: 5px solid rgba(255, 255, 255, 0.14);
  --font-family: "Roboto", Arial, sans-serif;
}

.weather {
  position: relative;
  height: 100vh;
  background-image: url(../images/background-snow.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.weather__column--first {
  padding-left: 116px;
}
.weather__link--wrap {
  width: 89px;
  margin-top: 37px;
}
.weather__city-info-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 55vh;
}
.weather__text-temp {
  font-size: 143px;
  letter-spacing: -0.08em;
}
.weather__title-wrap {
  margin-top: 45px;
  margin-left: 15px;
}
.weather__title {
  font-size: 60px;
}
.weather__icon {
  margin-top: 85px;
  margin-left: 25px;
}
.weather__column--second {
  position: absolute;
  right: 0;
  width: 525px;
  height: 100vh;
  border-left: var(--border-aside);
  -webkit-backdrop-filter: blur(19px);
          backdrop-filter: blur(19px);
  background: rgba(255, 255, 255, 0.04);
  padding: 40px 35px;
}
.weather__info-wrap {
  width: 370px;
}
.weather__text-info {
  margin-top: 41px;
}
.weather__weather-details {
  margin-top: 52px;
  padding-bottom: 86px;
  border-bottom: var(--border);
}
.weather__text-details {
  font-weight: 500;
  text-transform: uppercase;
}
.weather__descrption-list {
  width: 315px;
  margin-top: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.weather__description-list-content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.weather__description-list-content-wrap::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}
.weather__description-list-content-wrap#definition1::after {
  background-image: url(../images/temp-max.svg);
  width: 14px;
  height: 26px;
  left: 340px;
}
.weather__description-list-content-wrap#definition2::after {
  background-image: url(../images/temp-min.svg);
  width: 14px;
  height: 26px;
  left: 340px;
}
.weather__description-list-content-wrap#definition3::after {
  background-image: url(../images/humadity.svg);
  width: 18px;
  height: 24px;
  left: 336px;
}
.weather__description-list-content-wrap#definition4::after {
  background-image: url(../images/cloudy.svg);
  width: 22px;
  height: 22px;
  left: 332px;
}
.weather__description-list-content-wrap#definition5::after {
  background-image: url(../images/wind.svg);
  width: 24px;
  height: 19px;
  left: 330px;
}
.weather__description-term {
  color: var(--color-gray);
}
@media (max-width: 1439px) {
  .weather__column--first {
    padding-left: 50px;
  }
  .weather__text-temp {
    font-size: 90px;
  }
  .weather__title-wrap {
    margin-top: 25px;
  }
  .weather__title {
    font-size: 36px;
  }
  .weather__icon {
    width: 50px;
    height: 50px;
    margin-top: 52px;
  }
  .weather__column--second {
    padding-left: 60px;
  }
}
@media (max-width: 1023px) {
  .weather {
    height: auto;
    background-image: url(../images/background-lightning.png);
  }
  .weather__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .weather__column--first {
    padding: 25px 40px;
  }
  .weather__link--wrap, .weather__logo {
    width: 60px;
    height: 32px;
    margin-top: 0;
  }
  .weather__city-info-wrap {
    margin-top: 210px;
  }
  .weather__text-temp {
    font-size: 120px;
  }
  .weather__title-wrap {
    margin-top: 40px;
  }
  .weather__title {
    font-size: 48px;
  }
  .weather__text-date {
    font-size: 16px;
  }
  .weather__icon {
    width: 55px;
    height: 55px;
    margin-top: 77px;
  }
  .weather__column--second {
    position: static;
    height: auto;
    width: 100%;
    border-left: none;
    border-top: var(--border-aside);
    padding-inline: 45px;
  }
  .weather__info-wrap {
    margin-inline: auto;
    position: static;
  }
  .weather__text-info {
    text-align: center;
  }
  .weather__text-details {
    text-align: center;
  }
}
@media (max-width: 599px) {
  .weather__text-temp {
    font-size: 64px;
  }
  .weather__title-wrap {
    margin-top: 30px;
  }
  .weather__title {
    font-size: 30px;
    line-height: 100%;
  }
  .weather__text-date {
    font-size: 10px;
  }
  .weather__icon {
    width: 40px;
    height: 40px;
    margin-top: 33px;
  }
}
@media (max-width: 479px) {
  .weather__column--first {
    padding: 22px 19px;
  }
  .weather__info-wrap {
    width: 100%;
  }
  .weather__link--wrap, .weather__logo {
    width: 39px;
    height: 20px;
  }
  .weather__city-info-wrap {
    margin-top: 140px;
  }
  .weather__text-info {
    margin-top: 15px;
    font-size: 14px;
    width: 100%;
  }
  .weather__weather-details {
    width: 80%;
    margin-top: 37px;
    margin-inline: auto;
  }
  .weather__text-details {
    font-size: 14px;
  }
  .weather__descrption-list {
    width: 100%;
    margin-left: -10%;
  }
  .weather__description-list-content-wrap::after {
    left: 110% !important;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: var(--border);
}
.form__input {
  background-color: transparent;
  border: 0;
}
.form__input--text {
  padding-block: 13px;
  width: 100%;
  font-family: var(--font-family);
  color: var(--color-white);
  font-size: 18px;
  font-weight: 400;
  color: var(--color-gray);
  font-size: 20px;
}
.form__input--text::-webkit-input-placeholder {
  font-family: var(--font-family);
  color: var(--color-white);
  font-size: 18px;
  font-weight: 400;
  color: var(--color-gray);
  font-size: 20px;
}
.form__input--text::-moz-placeholder {
  font-family: var(--font-family);
  color: var(--color-white);
  font-size: 18px;
  font-weight: 400;
  color: var(--color-gray);
  font-size: 20px;
}
.form__input--text:-ms-input-placeholder {
  font-family: var(--font-family);
  color: var(--color-white);
  font-size: 18px;
  font-weight: 400;
  color: var(--color-gray);
  font-size: 20px;
}
.form__input--text::-ms-input-placeholder {
  font-family: var(--font-family);
  color: var(--color-white);
  font-size: 18px;
  font-weight: 400;
  color: var(--color-gray);
  font-size: 20px;
}
.form__input--text::placeholder {
  font-family: var(--font-family);
  color: var(--color-white);
  font-size: 18px;
  font-weight: 400;
  color: var(--color-gray);
  font-size: 20px;
}
.form__input--submit {
  cursor: pointer;
  width: 28px;
  height: 28px;
  margin-top: 9px;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1023px) {
  .form {
    width: 305px;
    position: absolute;
    top: -460px;
    right: 40px;
  }
}
@media (max-width: 599px) {
  .form {
    top: -390px;
  }
}
@media (max-width: 479px) {
  .form {
    width: 205px;
    top: -290px;
    right: 19px;
  }
  .form__input--text {
    padding-block: 4px;
    font-size: 12px;
  }
  .form__input--text::-webkit-input-placeholder {
    font-size: 12px;
  }
  .form__input--text::-moz-placeholder {
    font-size: 12px;
  }
  .form__input--text:-ms-input-placeholder {
    font-size: 12px;
  }
  .form__input--text::-ms-input-placeholder {
    font-size: 12px;
  }
  .form__input--text::placeholder {
    font-size: 12px;
  }
  .form__input--submit {
    width: 20px;
    height: 20px;
    margin-top: 0;
  }
}